*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: url('foodmenu.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    backdrop-filter: blur(25px);
}

.navBar{
    position: sticky;
    top: 0;
    z-index: 15;
    padding: 2rem;
    background: linear-gradient(120deg, #091a7c 35%, #1f036d 30%, #361ebb 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
}

.navBar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBar ul li{
    margin-left: 5rem;
    list-style: none;
}

.navBar ul li:hover{
    border-bottom: 2px solid white;
}

.navBar ul li a{
    text-decoration: none;
    font-size: larger;
    color: #fff;

}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productContain{
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px 10px;
    box-shadow: 10px 15px 25px;
    background: rgb(255, 255, 255);
    width: 85%;
    height: 700px;
    overflow-y: scroll;
}

.productContain::-webkit-scrollbar{
    display: none;
}

.product label{
    position: sticky;
    top: 0px;
    z-index: 3;
    margin-top: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500px;
    font-size: 30px;
    color: red;
}

.prodisplay{
    padding: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    /* overflow-y: scroll; */
    
}

#orange{
    color: orange;
}

#blue{
    color: #361ebb;
}

.prodimg1{
    position: relative;
    height: 500px;
    width: 1fr;
    background: transparent;
}
.prodimg1 img{
    height: 400px;
    width: 100%;
}

.prodimg2{
    height: 500px;
    width: 1fr;
    background: transparent;
}
.prodimg2 img{
    height: 400px;
    width: 100%;
}

.prodimg3{
    height: 500px;
    width: 1fr;
    background: transparent;
}
.prodimg3 img{
    height: 400px;
    width: 100%;
}


.prodimg4{
    height: 500px;
    width: 1fr;
    background: transparent;
}
.prodimg4 img{
    height: 400px;
    width: 100%;
}

video{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.order{
    background: rgb(120, 72, 243);
    display: flex;
    align-items: center;
    justify-content: center;

}
.order a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    padding: 1rem;
}

.niger{
    background: rgb(255, 255, 255);
    color: green;
}

#white{
    color: white;
}

label next{
    position: sticky;
    top: 0px;
    z-index: 10;
    margin-top: 10px;
}

form{
    height: 95%;
    width: 65%;
    background: rgb(82, 138, 82);
    text-align: center;
    overflow-y: scroll;
}

form::-webkit-scrollbar{
    display: none;
}



.formFill{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.space{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space input{
    width: 500px;
    height: 100px;
    margin-top: 2rem;
}

@media (max-width:720px){
    *{
        backdrop-filter: blur(30px);
        width: 100%;
        overflow-x: hidden;
    }
    body{
        width: 100%;
        height: 100%;

    }

    .navBar{
        display: block;
        width: 100%;
        height: 2rem;

    }

    .navBar h1{
        margin-bottom: 1rem;
        font-size: small;
    }
    .navBar ul{
        left: 0;
        font-size: x-small;
    }

    .navBar ul li{
        margin-left: 0;
    }

    .center{
        width: 100%;
        height: 100%;
        background: transparent;
        background-size: cover;
    }

    .niger{
        font-size: larger;
    }

    .prodisplay{
        height: 100%;
        width: 80%;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 250px;
        grid-row-gap: 1rem;
        justify-content: center;
        align-content: center;
    }

    .prodimg2{
        margin-top: 15.7rem;
    }
    
    form{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    form h1{
        margin-top: 2rem;
    }

    .space input{
        height: 50px;
    }

    .btn{
        background: greenyellow;
        color: #fff;
        padding: 2rem;
    }
}
